body {
	font-family: Lato, sans-serif;
	font-size: 17px;
}

a {
    font-family: Lato, sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

a:link {
  color: #555555;
}

a:visited {
  color: #555555;
}

.text-center {
	text-align: center;
}

/*Calendar Styles*/
#calendar {
  width: 972px;
  margin: auto;
}
#matches {
  padding:  0 36px;
}
.match-photo {
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
#name-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}
.namebio-container {
  flex: 1;
}
.name {
  font-size: 3rem;
}
.bio {
  font-size: 1.45rem;
}
.photo {
  width: 130px;
  height: 130px;
  border-radius: 4px;
}

#message-container {
  padding: 10px 36px;
  display: flex;
  flex-direction: column;
}
.message {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 6px;
  background-color: #F8F8F8;
  color: #000;
}
.message.me {
  background-color: #0089F6;
  color: #fff;
  align-self: flex-end;
}


text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 14px;
  fill: inherit;
  font-family: Lato, sans-serif;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
.day-cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}
.day-cell-tooltip > span {
  font-family: Lato, sans-serif
}
.calendar-heatmap {
  box-sizing: initial;
}
